---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/base.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
    <Header />

    <main
      class="prose prose-lg dark:prose-invert mx-auto px-4 sm:px-6 lg:px-8 py-8 flex-grow w-full max-w-4xl"
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
