---
import "@styles/base.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body class="flex min-h-screen flex-col bg-gray-50 dark:bg-gray-900">
    <Header />

    <main
      class="prose prose-lg mx-auto w-full max-w-4xl grow px-4 py-8 dark:prose-invert sm:px-6 lg:px-8"
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
